<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
</head>
<body>
    <li><a href="{% url 'index' %}">Главная</a></li>
    <header>
        <h1>{{ page_title }}</h1>
    </header>

    <main>
        <section>
            <h2>О приложении</h2>
            <p>
                Это приложение: <strong>{{ app_name }}</strong>
            </p>
        </section>

        <section>
            <h2>Приветствие</h2>
            <p>{{ welcome_message }}</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Блог Hexlet</p>
    </footer>
</body>
</html>